TesserocrEx.pyc
address.pyc
ads.pyc
arcgeocoder.pyc
brownarcgis.pyc
cityMatch.pyc
clean.pyc
columnCrop.pyc
entryChop.pyc
findHeader.pyc
margins.pyc
regX2.pyc
streetMatch1.pyc
stringParse.pyc
FOutput.csv
allCleaners.csv
cleaners.csv
data.csv
drops_address.csv
gasStations.csv
geocoder_errors.csv
laundries.csv
raw_data.csv
streets_by_zip_code.csv
address_errors.pdf
geocoder_errors.pdf
parts_usage.pdf
test
hide
raw_images
georeg results sandbox.ipynb
address.save.py
arcgeocoder.save.py
cityMatch.save.py
margins.save.py
parse.save.py
1937_YP/
1938_YP/
1941_YP/
1944_YP/
1945_YP/
1948_YP/
1959_YP/
1960_YP/
1961_YP/
1962_YP/
cd1936/
cd1940/
cd1943/
cd1946/
cd1950/
cd1961/
hide/
raw_images/
test/
cd1936/
cd1937/
cd1938/
cd1940/
cd1941/
cd1943/
cd1944/
cd1945/
cd1946/
cd1948/
cd1950/
cd1959/
cd1960/
cd1961/
cd1962/
hide/
raw_images/
test/
cd1936/
*.pyc
cd1937/
cd1938/
cd1940/
cd1941/
cd1943/
cd1944/
cd1945/
cd1946/
cd1948/
cd1950/
cd1952/
cd1954/
cd1956/
cd1959/
cd1960/
cd1961/
cd1962/
cd1964/
cd1966/
cd1968/
cd1970/
cd1972/
cd1976/
cd1978/
cd1980/
cd1985/
cd1990/
cdb1962/
georegSandbox.ipynb
georeg.db
streets_by_zip_code.csv
threshold_used.csv
cd1990/
cd1985/
cd1980/
cd1978/
cd1976/
cd1972/
cd1970/
cd1968/
cd1966/
cd1964/
cd1962/
cd1961/
cd1960/
cd1959/
cd1956/
cd1954/
cd1952/
cd1950/
cd1948/
cd1946/
cd1945/
cd1944/
cd1943/
cd1941/
cd1940/
cd1938/
cd1937/
cd1936/
street_dict.pkl
street_name_dict.pkl
crop_points_dict.pkl
threshold_used.csv
raw_data.pkl
stZipCty
